.container {
  height: 100%;
  min-width: 1200px;
  width: 100%;
  margin: auto;
  .content {
    width: 1200px;
    margin: auto;
  }
}

:global(.ant-table-pagination) {
  float: none !important;
  text-align: center;
}

:global(.ant-table) {
  th, td {
    padding: 8px !important;
    text-align: center !important;
    font-size: 12px !important
  }
}

:global(.ant-confirm-title) {
  overflow: hidden !important;
}