.container {
  height: 50px;
  position: relative;
  background-image: url('../../assets/logo.png');
  background-size: 140px 30px;
  background-repeat: no-repeat;
  background-position: 20px 7.5px;

  :global(.ant-tabs-bar) {
    margin: 0px
  }

  :global(.ant-tabs-nav-scroll) {
    text-align: center;
  }

  :global(.ant-tabs-nav) {
    height: 50px;
  }

  :global(.ant-tabs-tab) {
    img {
      height: 16px;
      width: 16px;
      margin-right: 5px;
    }
  }

  .logOut {
    position: absolute;
    right: 30px;
    top: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
}