.container {
  height: 50px;
  line-height: 50px;
  background-image: url('../../assets/logo.png');
  background-size: 110px 35px;
  background-repeat: no-repeat;
  background-position: 20px 7.5px;

  :global(.ant-tabs-bar) {
    margin: 0px
  }

  :global(.ant-tabs-nav-scroll) {
    text-align: center;
  }

  :global(.ant-tabs-nav) {
    height: 50px;
  }
}