<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ElephantBI微信管理后台</title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.corpid = 'WX_CORP_ID';
    window.fixedUrl = 'FIXED_URL';
    window.env = 'ENV';

    const host = window.location.hostname;
    const match = host.match(/^(\w+).((\w+.)+\w+)$/) || [];
    window.baseurl = 'https://api.elephantbi.com';
    const fronturlbaseMatch = window.location.hostname.match(/^\w+.((\w+.)+\w+)$/) || [];
    window.fronturl = fronturlbaseMatch[1];
    const matchBaseUrl = /^(.*)\/\/(.*)$/.exec(window.baseurl) || [];
    const windowHost = matchBaseUrl[1] + '//' + match[1] + '.' + matchBaseUrl[2];
    window.host = windowHost;
  </script>
</body>
</html>